@media screen and (max-width : 760px){
    *{
        position: relative !important;
    }

    $primary : #bd2130 ;

    // container
    .container {
        min-height: 606vh !important;
        height: auto !important;
        margin: 0;
        padding: 0;
        width: 100% !important;
    }

    // nav 
    nav.navbar {
        width: 100%;
        height: 100px;
        color: white;
        background-color: transparent;
        .phone{
            z-index: 2;
        }
        .content-nav{
            display: none;
            transition: all 1s ease-out;
        }
        .clip{
            width: 100%;
            height: 105vh;
            z-index: 3;
            position: fixed !important;
            background-color: $primary;
            top: 0px;
            left: 0px;
            clip-path: circle(100px at -30% 0%);
            -webkit-clip-path:circle(100px at -30% 0%);
            transition: all 1s ease-out;
        }
        .clip-open{
            clip-path: circle(1000px at 100% 100%) !important;
            -webkit-clip-path:circle(1200px at 100% 100%) !important;
            .content-nav{
                margin-top: 200px;
                margin-left: 30%;
                font-size: 2rem !important;
            }
            ul{
                z-index: 6;
                display: table-column;
                li{
                    cursor: pointer;
                    .policy-text , 
                    .text-about{
                        width: 150%;
                        height: auto;
                        left: -120px !important;
                        font-size: 1rem;
                    }
                }
                .btn{
                    font-size: 2rem;
                }
            }
        }
        .berger{
        z-index: 4;
        background-color: transparent;
        width: 100px;
        height: auto;
        cursor: pointer;
        margin-top: -20px;
        display: block;
        .item{
            z-index: 2;
            width: 40px;
            background-color: white;
            height: 6px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgb(44, 1, 1);
            transition: all .5s ease-in-out;
        }
        .item::before , 
        .item::after{
            content: '';
            position: absolute;
            width: 50px;
            background-color: white !important;
            height: 6px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgb(44, 1, 1);
            transition: all .5s ease-in-out;
        }
        .item::before{
            transform: translateY(-12px);
        }
        .item::after{
            transform: translateY(12px);
        }
        }
        .open{
            .item{
                transform: translateX(-50px);
                background: transparent;
                box-shadow: none;
            }
            .item::before{
                transform: rotate(45deg) translate(35px, -35px);
            }
            .item::after{
                transform: rotate(-45deg) translate(35px , 35px);
            }
        }
    }
    .slide {
        margin-top : -104px ;
        height: 80vh !important;
    }
    // slider 
    .slidePic {
        width: 300px !important;
        height: 200px !important;
        position: relative !important;
        top :29vh !important;
        left :15% !important;
    }
    .slide-text {
        top: -112px !important;
        text-align: center;
        margin-left: 0px !important;
        h1{
            font-size: 2rem;
        }
    }
    .search {
        width: 80% !important;
        left: 10% !important;
        top: 33vh !important;
        .text-search {
            color: white;
            h4{
                font-size: 1rem !important;
            }   
        }
    }

    // pets
    .pets {
        top : 35vh !important;
        min-height: 70vh !important;
        padding: 20px !important;
        display: block !important;
        .pet-text{
            top: 357px !important;
        }
        .Pet-img {
            
            img{
                right: 0px !important;
                top :-262px;
                width: 100%;
            }
            button{
                margin: 0 !important;
                padding: 0 !important;
                margin-top: 50px !important;
                
            }
            .next{
                margin-left: 40% !important;
            }
        }
    }
    // cond 
    .cond{
        top: 68vh;
        height: auto !important;
        .girl {
            margin-top: -432px;
            margin-left: 48px;
        }
    }

    // services
    .services{
        top: 66vh;
        margin: 0;
        .left{
            width: 323px;
            margin-left: 0px;
        }
    }
    .happy_clients{
        display: none;
    }
    .blogs {
        top: 59vh;
    }
    .map {
        display: none;
    }
    .contact {
        top: 56vh;
    }
    // footer
    .footer{
        top: 112vh;
    }
}