*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin Shadow {
    box-shadow: rgba($color: #000000, $alpha: .2) 0px 3px 2px;
}


$primary : #dc3545;
$secondary : #bd2130 ;

body{
    // background-color: #eaeaea;
 
}


.container{
    @include Shadow();
    padding: 0px;
    height: auto;
    min-height: 120vh;
}

.hiden{
    display: none;
}

// nav
nav{
    // position: absolute !important;
    width: 100% !important;
    display: flex !important;
    background-color: $primary;
    height: 80px !important;
    .berger{
        display: none;
    }
    .auth{
        width: auto !important;
        display: flex;
        justify-content: space-between;
        list-style: none;
        z-index: 6;
    }
    .content-nav{
        display: flex !important;
        width: 100% !important;
        .nav-list{
            width: 60% !important;
            display: contents;
            justify-content: space-between;
            list-style: none;
            li{
                width: fit-content !important;
            } 
        }
    }
    .phone{
        color: white;
        font-weight: bold;
        background-color: $secondary;
        padding: 20px;
        margin-top: -20px;
        margin-right: -15px;
        border-bottom-left-radius: 30px;
    }
    .nav-link{
        background-color: transparent !important;
        color: white !important;
        text-shadow: $secondary 1px 3px 4px;
        font-weight: 400;
        font-family: "Josefin sans";
    }
    .btn{
        background-color: transparent;
        border: none;
        color: white;
        font-weight: 400;
        margin-top: 2px;
    }
    .btn:hover{
        background-color: transparent;
        color: white;
        font-weight: 500;
    }
    .btn:focus{
        box-shadow: none;
    }
    #policy:hover , 
    #about:hover {
        border-bottom: 2px solid white;
    }
    #policy:hover .policy-text{
        display: block !important;
    }
    #about:hover .text-about{
        display: block !important;
    }
    .policy-text , 
    .text-about{
        transition: all 1s ease-in !important;
        position: absolute;
        background-color: $secondary;
        z-index: 10;
        width: 100%;
        height: fit-content;
        min-height: 60vh;
        padding: 40px;
        margin-top: 10px;
        font-family: "Josefin sans";
        line-height: 1.75;
        color: white;
        left: 0 !important;
        box-shadow: rgba($color: #000000, $alpha: 0.4) 0px 3px 10px;
        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            float: left;
            margin-right: 20px;
            box-shadow: rgba($color: #000000, $alpha: 0.4) 0px 3px 10px;
        }
    }
}



// slider

.slide{
    @include Shadow();
    width: 100%;
    height: 90vh;
    // z-index: 4;
    background-color:$primary;
    // background-image: url('/img/slide-background.png');
    background-size: cover;
    margin-top: -24px;
    // box-shadow: rgba($color: #000000, $alpha: 0.4) 0px 4px 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    .slide-text{
        color: white;
        position: absolute;
        top: 40vh;
        margin-left: 100px;
        p{
            text-decoration: line-through;
            font-family: "The Gwathmey";
            letter-spacing: 2px;
        }
        h1{
            text-transform: uppercase;
            font-family: 'Operator Mono';
            span{
                color: $secondary;
            }
        }
    }
    .st0{fill:$secondary;}
	.st1{fill:#FFFFFF;}
	.st2{fill:#FFB8B8;}
	.st3{fill:#2F2E41;}
	.st4{fill:white;}
	.st5{fill:white;}
	.st6{fill:white;}
    .slidePic{
        width:400px;
        height:auto !important;
        position: absolute;
        right: 200px;
        top: 100px;
    }
    .search{
        width: 40%;
        height: 120px;
        position: absolute;
        top: 78vh;
        left: 200px;
    }
    .text-search{
        color: white;
        margin-bottom: 20px;
        font-family: "Josefin sans";
    }
    .body-search {
        @include Shadow();
        background-color: white;
        color: $primary !important;
        border-radius:30px;
        padding: 20px;
        text-align: center;
        font-family: "Josefin sans";
        .select-search{
            background-color: transparent;
            border: none;
        }
        .select-search:focus{
            box-shadow: none;
        }
        .col-md-9{
            .form-search{
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 100%;
                input{
                    width: 300px;
                    border: none;
                    border-radius: 0px;
                    border-bottom: $secondary 1px solid;
                    text-transform: capitalize;
                }
                input:focus{
                    box-shadow: none;
                }
                .btn-search{
                    background-color: $secondary;
                    border: none;
                    padding: 18px;
                    color: white;
                    border-radius: 20px;
                    cursor: pointer;
                    @include Shadow();
                }
                .btn-search:focus{
                   outline: none;
                }
                .btn-search:active{
                    box-shadow: none;
                }
            }

        }
    }
}

.pets{
    padding-top: 160px !important;
    width: 100%;
    height: 70vh;
    padding: 40px;
    display: flex;
    // z-index: 1;
    margin-top: -40px;
    background-color: white;
    .Pet-img{
        flex: 1;
        
        img{
            transition: cubic-bezier(1, 0, 0, 1) all 10s;
            width: 250px;
            height: 350px;
            border-radius: 20px;
            position: absolute;
            top: 500px;
            right: 260px;
            box-shadow: rgba($color: #000000, $alpha: 0.2) 0px 4px 3px;
        }
        button{
            background-color: $primary;
            border: none;
            border-radius: 50%;
            color: white;
            position: absolute;
            margin-top: 200px;
            margin-left: 20%;
            width: 50px;
            height: 50px;
            cursor: pointer;
            box-shadow: rgba($color: #000000, $alpha: 0.2) 0px 4px 3px;
        }
        button:focus{
            outline: none;
        }
        button:active{
            box-shadow: none;
        }
        .next{
            margin-left: 14%;
            background-color: $secondary;
        }
    }
    .pet-text{
        flex: 1;
        margin-left: 50px;
        font-family: "Josefin sans";
        .year{
            background-color: rgba($secondary, $alpha: .3);
            border: 1.5px solid $secondary; 
            width: fit-content;
            padding: 10px 40px;
            color: $secondary;
            border-radius: 30px;
            margin-top: 25px;
        }
        .title{
            color: $secondary;
            font-family: "Operator Mono";
            margin-bottom: 25px;
        }
    }
    .btn{
        background-color: $secondary;
        color: white;
    }
}
.cond {
    background-color: $primary;
    box-shadow: rgba($color: #000000, $alpha: 0.2) 0px 4px 2px;
    height: 70vh;
    padding: 50px;
    .cond-images{
        padding-left: 10%;
        padding-top: 5%;
    }
    .box{
        width: 200px;
        height: 250px;
        background-color: white;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px;
    }
    .yellow{
        background-color:$secondary;
        width: 80px;
        height: 90px;
        border-radius: 10px;
        position: absolute;
        margin-top: -150px;
        margin-left: -20px;
    }
    img{
        border-radius: 10px;
        width: 100px;
        position: absolute;
    }
    .boy{
        margin-top: -100px;
        margin-left: 120px;
        width: 100px;
        height: 130px;
    }
    .girl{
        margin-top: -240px;
        margin-left: 80px;
    }
    .cond-text{
        color: white;
        margin-top: 60px;
        font-family: "Josefin sans";
        .bigTitle{
            font-size: 2rem;
            text-transform: uppercase;
            font-family: "Operator Mono";
        }
    }
}


// services

.services{
    padding-top: 100px !important;
    padding:40px;
    background-color: white;
    .left{
        background-color: $primary;
        box-shadow: rgba($color: #000000, $alpha: 0.2) 0px 4px 3px;
        padding: 40px;
        color: white;
        height: 70vh;
        border-radius: 30px;
        width: 400px;
        margin-left: 50px;
        h1{
            font-family: "Operator mono";
        }
        p {
            margin-top: 50px;
            font-family: "Josefin sans";
        }
    }
    .right{
        padding: 20px;
        margin-top: 50px;
        .serv{
            box-shadow: rgba($color: #000000, $alpha: 0.2) 0px 4px 3px;
            margin-bottom: 20px;
            padding: 20px;
            border-radius: 30px;
            .top{
                display: flex;
                width: 350px;
                i{
                    background-color:$secondary;
                    padding: 15px;
                    color: white;
                    border-radius: 50%;
                    align-items: center;
                    font-size: 1.5rem;
                }
                .title{
                   padding: 15px 10px;
                   color: $secondary;
                   font-style: 1.3rem;
                   text-transform: uppercase;
                   font-family: "Operator mono";
                }
            }
            p{
                font-family: "Josefin sans";
            }
        }
    }
}

// footer
.footer{
    background-color: $primary;
    color: white;
    padding: 40px;
    img{
        width: 100px;
        height: 100px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    #rigth-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            text-align: center;
            font-family:"Operator mono";
        }
    }
    .footer-list-icons{
        font-family: "Josefin sans";
        font-size: 1.5rem;
        width: 260px;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        a{
            color: white;
        }
    }
}


// nav links pages styles
.About , 
.contact ,
.policy{
    margin-top: 100px;
}


// clients

.happy_clients{
    background-color: $primary;
    color: white;
    width: 100%;
    height: 60vh;
    padding: 20px;
    .slide{
        margin-top: 30px;
        background-color: transparent;
        box-shadow: none;
        height: 200px;
        padding: 20px;
        .carousel-indicators{
            padding: 20px;
            position: absolute;
            top: 220px;
            left: -100px;
            li{
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
        }
        .carousel-item{
            width: 400px;
            height: 200px;
            background-color: white;
            border-radius: 30px;
            padding: 20px;
            transition: all 1s ease;
            margin: 10px;
            color: black;
            @include Shadow();
            img{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                margin-right: 15px;
                @include Shadow();
            }
            .header{
                display: flex;
                align-items: center;;
            }
            .body{
                margin-top: 20px;
                text-align: center;
                font-size: .8rem;
                font-family: "josefin sans";
            }
        }
    }
    .text{
        margin-top: 50px;
        h3{
            font-family: "Operator mono";
            font-style: italic;
        }
        p{
            font-family: "josefin sans";
            margin-top: 15px;
        }
        .btn{
            background-color: $secondary;
            margin-top: 10px;
        }

    }
}

.blogs{
    width: 100%;
    min-height: 100vh;
    padding:40px 10px;
    background-color: white;
    .header{
        margin-left: 35px;
        h4{
            color: $secondary;
            text-transform: uppercase;
            font-weight: bolder;
            font-family: "operator mono";
            font-size: 2rem;
        }
    }
    .card{
        height: 60vh;
        width: 80%;
        margin-left: 10%;
        margin-top: 20px;
        @include Shadow();
        text-align: left;
        .card-img{
            width: 100%; 
            overflow: hidden; 
        }
        img{
            width: 100%;
            height: 30vh;
            position: relative;
            max-width: 100%; 
            transform: scale(1); 
            transition: all 0.3s ease;
        }   
        img:hover{
            transform: scale(1.2);
        }
        h6{
            text-transform: capitalize;
            color: $secondary;
            font-size: .8rem;
            margin-bottom: 15px;
        }
        h4{
            font-size: 1.2rem;
            margin-bottom: 15px;
            cursor: pointer;
            font-family: "Operator mono";
        }
        p{
            font-family: "josefin sans";
        }
    }
}



// maps
.map{
    background-color: $primary;
    padding-top: 20px;
    h4{
        color: white;
        text-transform: uppercase;
        font-size: 1.5rem;
        text-align: center;
        margin: 20px;
    }
    p{
        color: white;
        font-family: "josefin sans";
        text-align: center;
    }
}


// contact

.contact{
    background-color: white;
    width: 100%;
    height: 80vh;
    margin-top: 0px;
    padding: 40px 20px;
    .col-md-6{
        padding: 20px;
        p{
            font-family: "Josefin sans";
            margin-top: 40px;
        }
        .form{
            display: grid;
            label {
                color: $secondary;
            }
            input , textarea{
                border: none;
                outline: none;
                border-bottom: 1px solid $secondary;
                // @include Shadow();
                margin-bottom :10px;
            }
            input{
                height: 50px;
            }
            .btn{
                background-color: $secondary;
                color: white;
                border-radius: 0px;
                border: none;
                height: 50px;
            }
        }
    }
    
}